<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení rezervace vozidla</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p>Vaše rezervace byla přijata.</p>
    <hr />
Allrisk
</div>   
</body>
</html>